@import url('@tldraw/tldraw/tldraw.css');

html,
* {
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior: none;
	touch-action: none;
	overflow: hidden;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	height: 100%;
}


.lockup__link img.lockup__by {
	height: 40px;
	padding-right: 2px;
}

.lockup__link__mobile .lockup__link img.lockup__by {
	padding-right: 0px;
}

.lockup__link {
	color: var(--color-text);
	position: absolute;
	z-index: var(--layer-panels);
	bottom: 0px;
	right: 0px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: 45px;
	padding-right: 10px;
	align-items: center;
	justify-content: flex-end;
}

.lockup__link a,
.lockup__link img,
.lockup__link svg {
	height: 100%;
	/* width: 100%; */
}

.lockup__link__mobile {
	height: 25px;
	gap: 4px;
	/* right: 0px; */
}

.tlui-help-menu {
	display: none !important;
}

.lockup {
	/* padding: 0px; */
	width: 120px;
}

.lockup__link__mobile .lockup {
	width: 60px;
}

.tlui-debug-panel {
	display: none !important;
}

.lockup__link__mobile .lockup__collab {
	font-size: 16px;
}

.lockup__link__mobile__raise {
	bottom: 60px;
}

.lockup__collab {
	font-size: 20px;
	font-weight: 200;
	/* padding: 0px 4px; */
}

/* ---------------------- Sorry --------------------- */

.sorry {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
	height: 100dvh;
	max-width: 100%;
	font:
		16px/1.5 system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		sans-serif;
	max-width: 100%;
	overflow-y: auto;
	padding: 16px;
}

.sorry__lockup {
	text-align: center;
	width: 128px;
}

.sorry img {
	max-width: 100%;
}

.sorry ol {
	padding-left: 32px;
}

.sorry li {
	margin-bottom: 8px;
}

.sorry a {
	font-weight: 600;
	color: dodgerblue;
}

/* Tailwind stuff */

/* flex min-h-screen flex-col items-center justify-between */
.tldraw-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* fixed inset-0 */
.tldraw-wrapper__inner {
	position: fixed;
	inset: 0px;
}

/* bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded */
.draw-fast-button__inner {
	background-color: var(--color-selected);
	color: #fff;
	font-weight: 600;
	padding: 8px 16px;
	border-radius: 4px;
}

/* p-2 */
.draw-fast-button {
	all: unset;
	padding: 8px;
	cursor: pointer;
	z-index: 100000;
	pointer-events: all;
}

a {
	color: black
}